@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <img class="center-img" src="/images/pexels-keira-burton-6147276.jpg" alt="an image of university students sitting on a field outside a brick building" />
</div><br />
<h1>Welcome to Contoso University</h1>
<div class="clearfix">
    <img src="/images/pexels-matthis-volquardsen-2305098.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

    <p>
        We are delighted to welcome you to Contoso University, where your energy and excitement enrich our vibrant campus life. Whether you are beginning or continuing your educational journey with us, we look forward to learning, exploring, and growing together.
    </p>

    <p>
        At Contoso, you are part of a strong campus community that values academic excellence and diversity. We are ranked No. 7 overall among the top public universities in the country by U.S. News and World Report. We are also ranked No. 9 worldwide
        for producing Nobel laureates in this century, according to Times Higher Education in London. With a campus culture of curiosity, critical thinking, and collaboration, you have the opportunity to participate in cutting-edge research and creative opportunities
        with our world-class faculty, and we in turn have the opportunity to gain new knowledge and perspective from our inquisitive and exceptional student body.
    </p>

    <p>
        We trust you will find unlimited opportunities for growth here at Contoso University. As a university dedicated to educating the next generation of contributors and leaders, we are excited to invest in your future, and to partner with you as you pursue your dreams.
    </p>

    <p>
        Sincerely,<br />

        Glory Ozonuwe<br />
        Chancellor
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Contoso Tigers Win State Championships!</h2>
        <p class="clearfix">
            <img src="/images/pexels-david-morris-2190159.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
            auctor vitae massa. Fusce<span id="dots">...</span><span id="more">
                per ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus
            </span>
        </p>
        <button class="readmore" onclick="myFunction()" id="myBtn">Read more</button>
    </div>
    <div class="col-md-4">
        <h2>Student Life at Contoso</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Se per ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue
            eros non fermentum. Sed dapibus pulvinar nibh tempor porta.Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel erisque Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
            auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcor<span id="dots2">...</span><span id="more2">
    per ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue
    eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Phasellus imperdiet, nulla
</span>
        </p>
        <button class="readmore" onclick="myFunction2()" id="myBtn2">Read more</button>
    </div>
    <div class="col-md-4">
        <h2>How to Have a Successful Midterm </h2>
        <strong>By Library Department</strong>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
            auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,per ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue
            eros non fermentum. Sed dapibus pulvinar nibh tempor porta. sed ullamcor Nunc sagittis<span id="dots3">...</span><span id="more3">
                per ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue
                eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </span>
        </p>
        <button class="readmore" onclick="myFunction3()" id="myBtn3">Read more</button>
    </div>
</div>

